.slogan {
  background-color: white;
  height: 520px;
  align-items: center;
}

.slogan__test {
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
  font-family: 'Open Sans', sans-serif;
  font-size: 65px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  position: absolute;
  display: block;
  top: 35%;
  left: 25%;
}